/* 슬라이드 메뉴 만들기 */

.accordion0 {
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 auto;
    font-size: 14px;
    border: 0px solid #b1b1b1;
    border-radius: 10px;
    width: 100%;
    padding: 0px;
    background: #fff;
}

.accordion0 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.accordion0 li {
    margin: 0;
    padding: 0;
}

.accordion0 [type=radio],.accordion0 [type=checkbox] {
    display: none;
}

.accordion0 label {
    text-align: center;
    display: block;
    font-size: 12px;
    line-height: 16x;
    background: #fff;
    border-bottom: 1px solid #b1b1b1;
    color: #000;
    font-weight: 600;
    letter-spacing: 3px;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}

.accordion0 ul li label:hover,.accordion0 [type=radio]:checked ~ label,.accordion0 [type=checkbox]:checked ~ label {
    background: #fff;
    color: #000;
}

.accordion0 .content {
    padding: 0 10px;
    overflow: hidden;
    font-size: 11px;
    border-bottom: 0px solid #b1b1b1;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}

.accordion0 p {
    color: #333;
    margin: 0 0 10px;
}

.accordion0 h3 {
    color: #b1b1b1;
    padding: 0;
    margin: 10px 0;
}

.vertical0 ul li {
    overflow: hidden;
    margin: 0 0 0px;
}

.vertical0 ul li label {
    padding: 10px;
}

.vertical0 [type=radio]:checked ~ label,.vertical0 [type=checkbox]:checked ~ label {
    border-bottom: 0;
}

.vertical0 ul li .content {
    height: 0px;
    border-top: 0;
}

.vertical0 [type=radio]:checked ~ label ~ .content,.vertical0 [type=checkbox]:checked ~ label ~ .content {
    height: 200px;
    border-bottom: 1px solid #b1b1b1;
}

/* 슬라이드 메뉴 만들기 끝 */


/* 슬라이드 메뉴 줄간격 줄이기 */
#center_column > div > div.primary_block > div.row > div.product-center-column.col-xs-12.col-sm-12.col-md-6 > div.product-description.rte > div > ul > li:nth-child(2) > div > p{
    line-height: 10px;
}
/* .vertical0 [type=radio]:checked ~ label ~ li:nth-child(2) .content, .vertical0 [type=checkbox]:checked ~ label ~ li:nth-child(2) .content{
    height: 250px;
} */
/* 슬라이드 메뉴 줄간격 줄이기 끝 */

/* 모바일 header 위치 */

#header_logo {
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* 모바일 header 위치 끝 */

/* 썸네일에서 SELECT OPTION, 하트 없애기 */
.functional-buttons{
    display: none;
}
/* 썸네일에서 SELECT OPTION, 하트 없애기 끝*/
