/* ---------- 폰트 ---------- */
@font-face {
    font-family: "HangultuelGothic";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.10/HangultuelGothic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "HangultuelGothic";
    letter-spacing: -0.7px;
}

/* ---------- 폰트 끝 ---------- */

/* ---------- 컬러 ---------- */
:root {
    --color1: #4E6E8F ;
    --color2: #70ABD6 ;
    --color3: #A4CDE9 ;
    --color4: #D1E4F2 ;
    --color5: #F6FAFD ;
}

html,
body {
    background: #d2e3f5;
    background: -moz-linear-gradient(-45deg,  #d2e3f5 0%, #f6fafd 38%, #f6fafd 61%, #cbebff 99%);
    background: -webkit-linear-gradient(-45deg,  #d2e3f5 0%,#f6fafd 38%,#f6fafd 61%,#cbebff 99%);
    background: linear-gradient(135deg,  #d2e3f5 0%,#f6fafd 38%,#f6fafd 61%,#cbebff 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2e3f5', endColorstr='#cbebff',GradientType=1 );

    height: auto;
    overflow-x: hidden;
}

::selection {
    background: var(--color3);
}

/* ---------- 컬러 끝 ---------- */

/* ---------- 나뭇잎 ---------- */
#content-area::before {
    content: "";
    display: block;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    /*background: url(https://lavigne2.github.io/imsua/images/leaf_1.png) no-repeat;*/
    background-size: contain;
}

header::before {
    content: "";
    display: block;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    /*background: url(https://lavigne2.github.io/imsua/images/leaf_2.png) no-repeat;*/
    background-size: contain;
}

footer {
    /*background: url(https://lavigne2.github.io/imsua/images/autumn_bg.png);*/
}

/* ---------- 나뭇잎 끝 ---------- */

/* ---------- 헤더 ---------- */
/* 로고 */
.col-xs-4 > a > img {
    display: none;
}

.col-xs-4 > a {
    width: 200px;
    height: 50px;
    display: block;
    background: url(https://lavigne2.github.io/imsua/sua_logo.png) no-repeat;
    filter: drop-shadow(3px 3px 3px var(--color1));
}

#board-info {
    overflow: visible;
}

/* 네비 */
header #header-bar {
    position: relative;
}

header #header-bar > .row {
    border-top: 0;
    position: relative;
    z-index: 100;
}

header #header-bar #header-top-notice strong.notice-badge {
    background: var(--color1);
}

/* 검색창 */
header #right-search-form > input[type="text"] {
    border: 3px solid var(--color1);
}

header #right-search-form > #right-search-btn {
    color: var(--color1);
}

/* 수직선 */
header #header-bar #header-menu-left {
    border-right: 1px solid var(--color1);
}

header #header-bar #header-menu-right {
    border-left: 1px solid var(--color1);
}

.label-default {
    background: var(--color1);
}

/* ---------- 헤더 끝 ---------- */

/* ---------- 좌측 메뉴 ---------- */
#main .menu-wrapper > .header {
    background: var(--color1);
}

#main .menu-wrapper {
    border: 0;
}

#main .menu-wrapper > a {
    transition-duration: 0.2s;
}

#main .menu-wrapper .spacer {
    background-color: var(--color2);
    height: 1px;
}

#main .menu-wrapper > a > em,
#main .menu-wrapper > a > i.fa.fa-square {
    color: #313131;
}

.menu-wrapper a:nth-of-type(4n-3) {
    border-left: 13px solid var(--color3);
}

.menu-wrapper a:nth-of-type(4n-2) {
    border-left: 13px solid var(--color2);
}

.menu-wrapper a:nth-of-type(4n-1) {
    border-left: 13px solid var(--color4);
}

.menu-wrapper a:nth-of-type(4n) {
    border-left: 13px solid var(--color1);
}

#main .menu-wrapper a:nth-of-type(4n-3) {
    background: linear-gradient(90deg, var(--color3) 39%, white 40%);
    background-size: 500%;
    background-position: 50% 50%;
}

#main .menu-wrapper a:nth-of-type(4n-2) {
    background: linear-gradient(90deg, var(--color2) 39%, white 40%);
    background-size: 500%;
    background-position: 50% 50%;
}

#main .menu-wrapper a:nth-of-type(4n-1) {
    background: linear-gradient(90deg, var(--color4) 39%, white 40%);
    background-size: 500%;
    background-position: 50% 50%;
}

#main .menu-wrapper a:nth-of-type(4n) {
    background: linear-gradient(90deg, var(--color1) 39%, white 40%);
    background-size: 500%;
    background-position: 50% 50%;
}

#main .menu-wrapper a:hover {
    background-position: 0% 50%;
}


#main .menu-wrapper a:nth-of-type(4n-1):hover {
    background-color: var(--color4);
}

#main .menu-wrapper a:nth-of-type(4n):hover {
    background-color: var(--color1);
}

#main .menu-wrapper a.schedule-link:first-child {
    border: 0;
    background: transparent;
}


/* ---------- 좌측 메뉴 끝 ---------- */

/* ---------- 프로필 ---------- */
/* 텍스트 */
#board-info h1,
#board-info #board-info-bottom {
    position: relative;
    left: 75px;
}

#board-info #viewers-area,
#board-info #board-info-bottom a,
#board-info #viewers-area,
#board-info #score-area {
    color: var(--color1);
}

#board-info #viewers-area {
    margin-top: -3px;
}

#board-info #viewers-area #viewers:before {
    content: "";
}

#board-info #viewers-area #viewers:after {
    content: "";
}

#viewers-area .fa-user {
    background-image: url(https://static-cdn.jtvnw.net/badges/v1/0fc6c439-bf90-4189-abc5-b3a4259cb36b/3);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    float: left;
    width: 23px;
    height: 23px;
    background-position: center;
}

#viewers {
    float: left;
    margin-top: 4px;
}

#board-info h1 {
    border-bottom: 0;
}

/* 게시물 리스트 백그라운드 */
#main #main-content > div.frame {
    background: #fff;
    border-bottom: 2px solid #ebeae8;
    border-right: 0px solid #ebeae8;
}

/* 프로필 사진 */
#board-info #board-info-profile-img {
    width: 85px;
    height: 85px;
    margin: -30px 0 0 -25px;
    border-radius: 50%;
    background-color: var(--color1);
    border: 3px solid var(--color1);
    position: absolute;
    animation: profileShake 4s infinite ease-in-out;
}

/* ---------- 프로필 끝 ---------- */

/* ---------- 카테고리,공지,인기글 ---------- */
#article-list #article-list-category {
    background: white;
    border-top: 0;
    margin-bottom: 10px;
}

#article-list #article-list-category > a.active,
#article-list #article-list-category > a {
    background: white;
    border-radius: 5px;
    border: 1px solid var(--color1);
    margin: 0 1px;
    background-position: 0% 0%;
    transition-duration: 0.4s;
}

#article-list #article-list-category > a:nth-child(2n-1) {
    background: linear-gradient(90deg, var(--color1) 39%, white 40%);
    background-size: 500%;
    background-position: 50% 50%;
}

#article-list #article-list-category > a:nth-child(2n) {
    background: linear-gradient(90deg, var(--color5) 39%, white 40%);
    background-size: 500%;
    background-position: 50% 50%;
}

#article-list #article-list-category > a:hover {
    background-position: 0% 50%;
}

.fa-home:before {
    color: black;
}

#article-list #article-list-category > a {
    padding-left: 14px;
    padding-right: 14px;
}

#article-list > .article-list-row.notice {
    background: var(--color3);
}

#article-list > .article-list-row.notice:hover {
    background: var(--color2);
}

#article-list > .article-list-row.hot {
    background: var(--color4);
}

#article-list > .article-list-row.hot:hover {
    background: var(--color2);
    color: white;
}

/* ---------- 카테고리,공지,인기글 끝 ---------- */

/* ----------게시글 목록 ---------- */
#article-list > .article-list-row > .item > .list-title > .list-category {
    border-left: 1px solid var(--color2);
    border-right: 1px solid var(--color2);
}

#article-list > .article-list-row {
    margin: 3px 0;
    border: 1px solid var(--color1);
    /* border-bottom: 2px solid var(--color1);
    border-right: 2px solid var(--color1); */
    border-radius: 5px;
}

#article-list > .article-list-row:hover {
    background-color: var(--color3);
}

#article-list > .article-list-row > .item > div {
    border-left: 0 !important;
    border-bottom: 0 !important;
}

/* 긴 닉네임도 보이기 */
#article-list > .article-list-row > .item > .list-title > .list-writer > span {
    width: 130px;
    color: var(--color1);
    font-weight: bold;
}

#article-list > .article-list-row > .item > .list-header > span {
    background-color: var(--color1);
    /* 추천수 */
}

#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span,
#article-list > .article-list-row > .item > .list-title > .list-writer > span {
    color: var(--color1);
    /* 닉네임 */
}

#article-list > .article-list-row > .item > .list-title > .list-writer > span {
    color: var(--color1);
    /* 비로그인 닉네임 */
}

#article-list > .article-list-row > .item > .list-title > small.comment-count {
    color: var(--color1);
}

#article-list > .article-list-row > .item > .list-title > a:visited {
    color: #888 !important;
    /* 방문 페이지 색상 */
}

.fa-heart {
    animation: heart 1s infinite ease-in-out;
    transform: scale(1);
}

.fa-heart:before {
    color: var(--color2);
}

/* 게시판 하단 */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
    border: 1px solid var(--color1);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background: var(--color1);
    margin-top: 2px;
}

.pagination > li > a,
.pagination > li > span {
    color: var(--color1);
    border: 1px solid var(--color1);
    border-bottom: 2px solid var(--color1);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #fff;
    background: var(--color1);
    border: 1px solid var(--color1);
    margin-top: 2px;
}

#article-list #article-list-menu > .btn.write {
    position: absolute;
    right: 0;
    border: solid 1px var(--color1);
    border-bottom: solid 3px var(--color1);
}

#article-list #article-list-menu > .btn.write:hover {
    position: absolute;
    right: 0;
    border: solid 1px var(--color1);
    border-bottom: solid 1px var(--color1);
}

.btn-primary {
    background: white;
    color: var(--color1);
    border: 1px solid var(--color1);
    border-bottom: 3px solid var(--color1);
    /* 글쓰기 버튼 */
}

.btn-primary:hover,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: var(--color1);
    border: solid 1px var(--color1);
    margin-top: 2px;
}

#article-list #article-list-menu > .btn.best {
    border: solid 1px var(--color1);
    color: var(--color1);
    border-bottom: solid 3px var(--color1);
    /* 인기글 버튼 */
}

#article-list #article-list-menu > .btn.best:hover {
    margin-top: 2px;
    border-bottom: solid 1px var(--color1);
    background-color: var(--color1);
    color: #fff;
}

#reportArticleBtn {
    background-color: white;
    color: #333;
}

#reportArticleBtn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

/* ----------게시글 목록 끝 ---------- */

/* ----------게시글 내용 ---------- */
#article-content-wrapper > .header,
#article-content-wrapper > .footer {
    background-color: var(--color1);
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged,
#article-list > .article-list-row > .item > .list-title > .list-writer > span,
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer {
    color: var(--color1);
}

small.code {
    color: white !important;
}

#reply-real-area .reply-header > .reply-menu > a {
    color: #333;
}

#reply-real-area .reply-header > .reply-menu > a:hover {
    color: var(--color1);
}

#article-reply-area #reply-real-area .reply > .reply-header,
#article-reply-area #reply-best-area .reply > .reply-header {
    animation: gradient 6s infinite;
}

#article-reply-area #reply-real-area .reply:nth-of-type(2n) > .reply-header,
#article-reply-area #reply-best-area .reply:nth-of-type(2n) > .reply-header {
    background: var(--color1);
    background: linear-gradient(15deg, var(--color2) 0%, var(--color4) 100%);
    background-size: 300% 100%;
}

#article-reply-area #reply-real-area .reply:nth-of-type(2n-1) > .reply-header,
#article-reply-area #reply-best-area .reply:nth-of-type(2n-1) > .reply-header {
    background: var(--color1);
    background: linear-gradient(165deg, var(--color5) 0%, var(--color3) 100%);
    background-size: 300% 100%;
}

.fr-toolbar,
#article-content-wrapper > .header {
    border-top: 2px solid var(--color1);
}

#article-reply-area #reply-real-area .reply,
#article-reply-area #reply-best-area .reply {
    border: 1px dashed var(--color4);
}

.fr-box fr-ltr fr-basic fr-top {
    border: 1px dashed var(--color4);
}

#article-reply-area > .header h5 {
    color: var(--color1);
}

#lastc {
    color: var(--color1);
}

.btn-outline-success {
    color: var(--color1);
    background-image: none;
    background-color: transparent;
    border-color: var(--color1);
    border-bottom: solid 3px var(--color1);
}

.btn-outline-success:hover {
    margin-top: 2px;
    background-color: var(--color1);
    border-bottom: solid 1px var(--color1);
    border-color: var(--color1);
    color: white;
}

/* ----------게시글 내용 끝 ---------- */

/* ---------- 그림자 ---------- */
header #header-bar:before {
    content: "";
    width: 1070px;
    height: 46px;
    position: absolute;
    top: 0px;
    left: 20px;
    background-color: var(--color4);
}

.col-xs-2 .menu-wrapper,
.col-xs-10 .frame {
    box-shadow: 6px 6px var(--color4);
}

/* ---------- 그림자 끝 ---------- */

/* footer */
footer a {
    color: var(--color1);
}
footer a:hover {
    color: var(--color3);
}
/* footer 끝 */

/* ---------- 키프레임 ---------- */
@keyframes profileShake {
    0%,
    100% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(8%);
    }
}

@keyframes heart {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.7);
    }

    80% {
        transform: scale(1.3);
    }
}

@keyframes gradient {
    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 80% 80%;
    }
}

@keyframes lineMove {
    from {
        background-position: 0% 100%;
    }

    to {
        background-position: 200% 100%;
    }
}

/* ---------- 키프레임 ---------- */

/*---------- 이모티콘 ----------*/
/* 이모티콘 팝업 */
.fr-popup .fr-emoticon,
.fr-popup .fr-emoticon img {
    width: 30px !important;
    height: 30px !important;
}

.fr-popup.emoticons {
    width: 600px;
}

.fr-popup.emoticons br {
    display: none;
}

/* 구독티콘 */
#article-content-wrapper #article-content img[alt="suvelyNice"],
img[alt="suvelyNice"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/775643/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyDelete"],
img[alt="suvelyDelete"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/798654/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyPpat"],
img[alt="suvelyPpat"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1067648/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyBAN"],
img[alt="suvelyBAN"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1795916/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyMoonlight"],
img[alt="suvelyMoonlight"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1795939/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyHeek"],
img[alt="suvelyHeek"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1795979/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyPepper"],
img[alt="suvelyPepper"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1796030/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyMimi"],
img[alt="suvelyMimi"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1796038/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyBloodfist"],
img[alt="suvelyBloodfist"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1796045/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyTaebo"],
img[alt="suvelyTaebo"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1796055/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyDogeza"],
img[alt="suvelyDogeza"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801976/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyNanha"],
img[alt="suvelyNanha"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801978/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyQuestion"],
img[alt="suvelyQuestion"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801981/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyHi"],
img[alt="suvelyHi"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801983/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyByebye"],
img[alt="suvelyByebye"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801988/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyHandheart"],
img[alt="suvelyHandheart"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801990/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelySeuk"],
img[alt="suvelySeuk"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801991/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyOk"],
img[alt="suvelyOk"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801993/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyFire2"],
img[alt="suvelyFire2"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801997/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyAhhh"],
img[alt="suvelyAhhh"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1802001/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyBiblethump"],
img[alt="suvelyBiblethump"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1802003/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyTranquility"],
img[alt="suvelyTranquility"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1802010/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelySmilingly"],
img[alt="suvelySmilingly"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1802011/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyConcert"],
img[alt="suvelyConcert"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/2093519/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelySUARY"],
img[alt="suvelySUARY"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/643815/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyGeunyang"],
img[alt="suvelyGeunyang"] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1802032/3.0) no-repeat center;
    background-size: 60px;
    background-position: center;
}

/*---------- 이모티콘 ----------*/
