@font-face { font-family: 'WONDotum'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONDotum.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
    font-family: 'WONDotum';
    padding-top: 0;
}
body,html{
    background-color: white;
}

/*-------------------컬러-------------------*/
:root{
    --color1: #F8AFB1;
    --color2: #F6D7DE;
    --color3: #FAF2E1;
    --color4: linear-gradient(-45deg, #f6d7de, #efb8d2, #faf2e1, #f8afb1);
}
header > #header-search-bar #header-search-input {
    padding: 6px 8px;
    font-size: 16px;
    border: 2px solid var(--color1);
    flex: 1;
}
header > #header-search-bar #header-search-btn {
    border: none;
    background: transparent;
    color: var(--color1);
    font-size: 24px;
    font-weight: bold;
    width: 54px;
    margin-top: -1px;
}
nav#nav{
    background: var(--color3);
}
nav#nav > .nav-header {
    margin-top: 12px;
    background: var(--color1);
    color: #fff;
    padding: 6px 12px;
}
#header-top-notice strong.notice-badge {
    background: var(--color1);
    padding: 4px 8px;
    color: #fff;
    font-weight: bold;
}
#article-list > .article-list-row > .item > a.list-title > .list-writer.logged > span {
    color: var(--color1);
    font-weight: bold;
}
nav#nav > .nav-menu-area hr{
    border-bottom-color: var(--color2);
}
footer{
    background-color: white;
}

#main .menu-wrapper > a > em {
    color: var(--color2);
    text-decoration: none;
    font-style: normal;
    width: 24px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
#article-list > .article-list-row > .item > .list-title > .list-category{
    border-left: 1px solid var(--color2);
    border-right: 1px solid var(--color2);
}
#article-list > .article-list-row > .item > .list-title > .list-writer{
    border-left: 1px solid var(--color2);
    border-right: 1px solid var(--color2);
}
#article-list > .article-list-row{
    border-right: 0;
}
#article-list > .article-list-row > .item > .list-checkbox,
#article-list > .article-list-row > .item > .list-header,
#article-list > .article-list-row > .item > .list-category,
#article-list > .article-list-row > .item > .list-title,
#article-list > .article-list-row > .item > .list-blocked,
#article-list > .article-list-row > .item > .list-time {
    border-bottom: 2px dashed var(--color2);
}
#article-list > .article-list-row.hot{
    background: #f6d7de;
    background: -moz-linear-gradient(-45deg, #f5e1e5 0%, #fceef4 29%, #faf2e1 62%, #ffdfdf 100%);
    background: -webkit-linear-gradient(-45deg, #f5e1e5 0%, #fceef4 29%, #faf2e1 62%, #ffdfdf 100%);
    background: linear-gradient(135deg, #f5e1e5 0%, #fceef4 29%, #faf2e1 62%, #ffdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d7de', endColorstr='#f8afb1',GradientType=1 );
    background-size: 400% 400%;
    animation: headerGradient 10s infinite;
    -webkit-animation: headerGradient 10s infinite;
    -moz-animation: headerGradient 10s infinite;
    -o-animation: headerGradient 10s infinite;
}
#article-list > .article-list-row.notice{
    background-color: var(--color3);
}
#article-list #article-list-category > a{
    background-color: white;
}
#board-info > a.board-right-menu, #board-info > h1 > a, #board-info #viewers-area{
    color: var(--color1);
}
#article-list > .article-list-row > .item > a.list-title > small.comment-count{
    color: var(--color1);
}
#article-list > .article-list-row > .item > .list-header > span{
    background-color: var(--color1);
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: var(--color2);
    border-color: var(--color2);
}
.pagination > li > a, .pagination > li > span{
    color: var(--color1);
}


/*--------------------레이아웃--------------------*/
header{
    height: 135px;
    border-bottom: 0;
    background-color: white;
}
#header-area{
    position: relative;
    top: 90px;
}
#header-area:before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    background: url(https://lavigne2.github.io/imsua/sua_banner.png) no-repeat;
    background-size: contain;
    top: -100px;
    background-position: center;
}
#header-area{
    margin-bottom: 50px;
    background: -moz-linear-gradient(-45deg, #f6d7de 0%, #efb8d2 29%, #faf2e1 62%, #f8afb1 100%);
    background: -webkit-linear-gradient(-45deg, #f6d7de 0%,#efb8d2 29%,#faf2e1 62%,#f8afb1 100%);
    background: linear-gradient(135deg, #f6d7de 0%,#efb8d2 29%,#faf2e1 62%,#f8afb1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d7de', endColorstr='#f8afb1',GradientType=1 );
    background-size: 400% 400%;
    border: 0;
    animation: headerGradient 7s infinite;
    -webkit-animation: headerGradient 7s infinite;
    -moz-animation: headerGradient 7s infinite;
    -o-animation: headerGradient 7s infinite;
}
#header-top-notice{
    margin-top: 133px;
}
header > #header-area > a > h1{
    width: 120px;
    height: 42px;
    background: url(https://lavigne2.github.io/imsua/sugether.png) no-repeat;
    background-size: cover;
    background-position: center;
}
#board-info{
    border-top: 1px dashed var(--color2);
    border-bottom: 1px dashed var(--color2);
}
#board-info > a.board-right-menu{
    padding: 12px 7px;
}


/*아이콘*/
header > #header-area > #header-bar-link,
header > #header-area > #header-search-link{
    color: white;
}
nav#nav > #nav-upper > #header-close-bar-link,
nav#nav > #nav-upper #noteDropdownContainer a, nav#nav > #nav-upper #userDropdownContainer a{
    color: var(--color1);
}


/*인 메뉴*/
#article-content-wrapper>.header,
#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header{
    background: var(--color2);
}
.fr-toolbar,
#article-content-wrapper>.header{
    border-top: 2px solid var(--color2);
}
#article-reply-area #reply-real-area .reply, #article-reply-area #reply-best-area .reply{
    border: 2px dashed var(--color2);
}
.fr-box fr-ltr fr-basic fr-top{
    border: 2px dashed var(--color2);
}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged{
    color: #555555;
}
#reply-real-area a{
    color: #555555;
}





/*--------------------애니메이션--------------------*/
/*네비*/
#nav {
    transition: 0.5s ease-in-out;
}
#nav.hide {
    display: block !important;
    width: 0 !important;
}
#nav-overlay.hide {
    display: block !important;
    width: 0;
    opacity: 0;
}
#nav-overlay {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
#nav>* {
    width: 300px;
}

/*헤더*/
header.nav-up{
    top: -94px;
    position: fixed !important;
}


/*???*/
#article-list > .article-list-row{
    transition-duration: 0.25s;
}
#article-list>.article-list-row:hover, #article-list>.article-list-row:focus{
    background-color: var(--color3);
    transform: scale(1.01);
}
.dropdown .dropdown-menu, .input-group-btn .dropdown-menu {
    display: block !important;
    opacity: 0;
    transform: scale(0);
    transform-origin: 0% 0%;
    transition: all 0.4s cubic-bezier(.27, 1.47, .09, 1.06);
    padding: 3px 0;
}
#header-menu-right .dropdown-menu{
    transform-origin: 100% 0;
}
.dropdown.open .dropdown-menu, .input-group-btn.open .dropdown-menu {
    opacity: 1;
    transform: unset;
    border: 2px solid var(--color2);
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a{
    transition-duration: 0.25s;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
    color: var(--color1);
    background-color: var(--color3);
    transform: scale(1.03);
}
.fa-heart{
    animation: heart 2s infinite;
    transform: scale(1);
}
@keyframes headerGradient {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 100%;
    }
}
@-webkit-keyframes headerGradient {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 100%;
    }
}
@-moz-keyframes headerGradient {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 100%;
    }
}
@-o-keyframes headerGradient {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 100%;
    }
}
@keyframes heart {
    0%,100%{
        transform: scale(1);
    }
    30%{
        transform: scale(1.2);
        color: var(--color1);
    }
    90%{
        transform: scale(0.9);
    }
}
@-moz-keyframes heart {
    0%,100%{
        transform: scale(1);
    }
    70%{
        transform: scale(1.2);
        color: var(--color1);
    }
    90%{
        transform: scale(0.9);
    }
}

@-o-keyframes heart {
    0%,100%{
        transform: scale(1);
    }
    70%{
        transform: scale(1.2);
        color: var(--color1);
    }
    90%{
        transform: scale(0.9);
    }
}

@-webkit-keyframes heart {
    0%,100%{
        transform: scale(1);
    }
    70%{
        transform: scale(1.2);
        color: var(--color1);
    }
    90%{
        transform: scale(0.9);
    }
}










