/* 폰트 */
@font-face {
    font-family: "WONDotum";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONDotum.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "WONDotum";
    background: var(--color4);
}
/* 폰트 */

/* ---------- 컬러 ---------- */
:root {
    --color1: #0088e7;
    --color2: #f9f871;
    --color3: #dff1ff;
    --color4: #00b5f5;
}

/* ---------- 컬러 ---------- */

/* ---------- 헤더 ---------- */
header {
    border-bottom: 4px solid #0088e7;
    background: var(--color1);
}
header > #header-area > a > h1 {
    width: 120px;
    height: 42px;
    background: url(https://lavigne2.github.io/imsua/sua_logo.png)
        no-repeat;
    background-size: cover;
    background-position: center;
}

#header-area:before {
    content: "";
    display: block;
    position: absolute;
}

header > #header-area > #header-bar-link,
header > #header-area > #header-search-link,
header > #header-search-bar #header-search-btn {
    color: var(--color3); /* 헤더 메뉴,검색 아이콘 */
}

nav#nav > #nav-upper > #header-close-bar-link {
    color: var(--color1); /* 헤더 메뉴,검색아이콘 클릭 */
}

header > #header-search-bar #header-search-input {
    border: 2px solid var(--color3); /* 검색창 */
}

#header-top-notice strong.notice-badge {
    background: var(--color1);
    color: #fff; /* 광고 */
}

/* ---------- 헤더 ---------- */

/* ---------- 좌측 메뉴 ---------- */
nav#nav {
    background: var(--color3); /* 네비배경 */
}

nav#nav > .nav-header {
    background: var(--color1); /* 네비 카테고리 */
    color: #fff;
}

nav#nav > .nav-menu-area hr {
    border-bottom-color: var(--color3);
}
/* ---------- 좌측 메뉴 ---------- */

/* ---------- 프로필영역 ---------- */
#header-top-notice {
    background: var(--color4);
}
#board-info {
    background: var(--color4);
    border-top: 1px solid var(--color4);
    border-bottom: 1px solid var(--color4);
    margin-top: 30px;
    position: relative;
}
#board-info > h1 > #board-info-profile-img {
    width: 65px;
    height: 65px;
    margin: -8px 0 0 -85px;
    border-radius: 50%;
    background-color: var(--color1);
    border: 3px solid var(--color1);
    position: absolute;
    animation: profileShake 4s infinite ease-in-out;
}

#board-info > h1 {
    position: relative;
    left: 90px;
    top: -30px;
}
#board-info > a.board-right-menu {
    border-left: 0;
}
#board-info > a.board-right-menu:nth-of-type(1) {
    position: absolute;
    left: 25%;
    top: 0;
}
#board-info > a.board-right-menu:nth-of-type(2) {
    position: absolute;
    left: 35%;
    top: 0;
}
#board-info > a.board-right-menu:nth-of-type(3) {
    position: absolute;
    left: 45%;
    top: 0;
}
#board-info > a.board-right-menu:nth-of-type(4) {
    position: absolute;
    left: 55%;
    top: 0;
}
#board-info > a.board-right-menu:nth-of-type(5) {
    position: absolute;
    left: 65%;
    top: 0;
}
#board-info #score-area,
#board-info #viewers-area,
#board-info #score-area {
    color: var(--color3);
}
#article-list #article-option-area > #article-option-area-toggle-btn {
    margin-top: -55px;
    background: var(--color3);
}
#article-list #article-list-category {
    background: var(--color1);
}
/* ---------- 프로필영역 ---------- */

/* ---------- 본문영역 ---------- */
#article-list #article-list-category > a.active,
#article-list #article-list-category > a:hover,
#article-list #article-list-category > a {
    background: var(--color1); /* 카테고리 */
}
.fa-home:before {
    color: white;
}
#article-list > .article-list-row.notice,
#article-list > .article-list-row.hot {
    background: var(--color3);
}
#article-list
    > .article-list-row
    > .item
    > a.list-title
    > .list-writer.logged
    > span {
    color: var(--color1);
}

footer {
    background-color: white;
}

.badge {
    background-color: var(--color1);
}

#article-list #article-list-menu > .btn.write,
#article-list #article-list-menu > .btn.write:hover {
    position: absolute;
    border: solid 1px var(--color1);
    border-bottom: solid 1px var(--color1);
}

.btn-primary,
.btn-primary:hover,
.btn-primary.focus {
    color: #fff;
    background-color: var(--color1);
    border: solid 1px var(--color1);
    margin-top: 2px; /* 글쓰기 버튼 */
}

#article-list #article-list-menu > .btn.best,
#article-list #article-list-menu > .btn.best:hover {
    margin-top: 2px;
    border-bottom: solid 1px var(--color1);
    background-color: var(--color1);
    color: #fff; /* 인기글 버튼 */
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
    border: 1px solid var(--color1);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background: var(--color1);
    margin-top: 2px;
}

.pagination > li > a,
.pagination > li > span {
    color: var(--color1);
    border: 1px solid var(--color1);
    border-bottom: 2px solid var(--color1);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #fff;
    background: var(--color1);
    border: 1px solid var(--color1);
    margin-top: 2px;
}

#article-list > .article-list-row > .item > .list-header > span {
    background: var(--color1);
}

#article-list
    > .article-list-row
    > .item
    > a.list-title
    > small.comment-count {
    color: var(--color1);
}

#article-list > .article-list-row > .item > a.list-title:visited {
    color: #999 !important; /* 방문 페이지 색상 */
}

.fa-heart {
    animation: heart 1s infinite ease-in-out;
    transform: scale(1);
}
.fa-heart:before {
    color: #ff8054; /* 하트 색상 */
}
/* ---------- 본문영역 ---------- */

/* ---------- 게시글 내용 ---------- */
#article-content-wrapper > .header,
#article-content-wrapper > .footer {
    background-color: var(--color1);
}

#article-reply-area #reply-real-area .reply > .reply-header,
#article-reply-area #reply-best-area .reply > .reply-header {
    animation: gradient 5s infinite;
}

#article-reply-area
    #reply-real-area
    .reply:nth-of-type(2n)
    > .reply-header,
#article-reply-area
    #reply-best-area
    .reply:nth-of-type(2n)
    > .reply-header {
    background: #0088e7;
    background: linear-gradient(
        -45deg,
        #93ede4 10%,
        #ecfde2 50%,
        #0088e7 95%
    );
    background-size: 400% 400%;
}

#article-reply-area
    #reply-real-area
    .reply:nth-of-type(2n-1)
    > .reply-header,
#article-reply-area
    #reply-best-area
    .reply:nth-of-type(2n-1)
    > .reply-header {
    background: #0088e7;
    background: linear-gradient(
        -45deg,
        #0088e7 10%,
        #ecfde2 50%,
        #93ede4 95%
    );
    background-size: 400% 400%;
}

.fr-toolbar,
#article-content-wrapper > .header {
    border-top: 2px solid var(--color1);
}

#article-reply-area > .header h5 {
    color: var(--color1);
}

#lastc {
    color: var(--color1);
}

.btn-outline-success {
    color: var(--color1);
    background-image: none;
    background-color: transparent;
    border-color: var(--color1);
}

.btn-outline-success:hover {
    background-color: var(--color1);
    border-color: var(--color1);
    color: white;
}

#article-reply-area
    #reply-real-area
    .reply
    > .reply-header
    > .reply-writer.logged,
#article-reply-area
    #reply-best-area
    .reply
    > .reply-header
    > .reply-writer.logged {
    color: #555555;
}

#reply-real-area a {
    color: #555555;
}

/* ---------- 게시글 내용 ---------- */

/* ---------- 키프레임 ---------- */
@keyframes logoChange {
    0%,
    24%,
    76%,
    100% {
        background: url(https://lavigne2.github.io/imsua/logo_summer_1.png)
            no-repeat center;
        background-size: contain;
    }

    25%,
    75% {
        background: url(https://lavigne2.github.io/imsua/logo_summer_2.png)
            no-repeat center;
        background-size: contain;
    }
}

@keyframes profileShake {
    0%,
    100% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(8%);
    }
}

@keyframes heart {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    80% {
        transform: scale(1.3);
    }
}

@keyframes gradient {
    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 80% 80%;
    }
}

/* ---------- 키프레임 ---------- */

/*-------------------이모티콘-------------------*/
/*이모티콘 팝업*/
.fr-popup .fr-emoticon,
.fr-popup .fr-emoticon img {
    width: 20px !important;
    height: 20px !important;
}

.fr-popup.emoticons {
    width: 270px;
}

.fr-popup.emoticons br {
    display: none;
}

/*구독티콘*/
#article-content-wrapper #article-content img[alt="suvelyNice"],
img[alt="suvelyNice"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/775643/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyDelete"],
img[alt="suvelyDelete"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/798654/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyPpat"],
img[alt="suvelyPpat"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1067648/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyBAN"],
img[alt="suvelyBAN"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1795916/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyMoonlight"],
img[alt="suvelyMoonlight"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1795939/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyHeek"],
img[alt="suvelyHeek"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1795979/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyPepper"],
img[alt="suvelyPepper"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1796030/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyMimi"],
img[alt="suvelyMimi"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1796038/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyBloodfist"],
img[alt="suvelyBloodfist"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1796045/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyTaebo"],
img[alt="suvelyTaebo"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1796055/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyDogeza"],
img[alt="suvelyDogeza"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801976/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyNanha"],
img[alt="suvelyNanha"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801978/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyQuestion"],
img[alt="suvelyQuestion"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801981/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyHi"],
img[alt="suvelyHi"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801983/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyByebye"],
img[alt="suvelyByebye"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801988/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyHandheart"],
img[alt="suvelyHandheart"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801990/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelySeuk"],
img[alt="suvelySeuk"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801991/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyOk"],
img[alt="suvelyOk"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801993/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyFire2"],
img[alt="suvelyFire2"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1801997/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyAhhh"],
img[alt="suvelyAhhh"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1802001/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyBiblethump"],
img[alt="suvelyBiblethump"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1802003/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper
    #article-content
    img[alt="suvelyTranquility"],
img[alt="suvelyTranquility"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1802010/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelySmilingly"],
img[alt="suvelySmilingly"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1802011/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyConcert"],
img[alt="suvelyConcert"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/2093519/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelySUARY"],
img[alt="suvelySUARY"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/643815/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt="suvelyGeunyang"],
img[alt="suvelyGeunyang"] {
    width: 40px;
    height: 40px !important;
    padding-left: 40px;
    background: url(https://static-cdn.jtvnw.net/emoticons/v1/1802032/3.0)
        no-repeat;
    background-size: 40px;
    background-position: center;
}
